<div class="PaymentOrder">
    <div class="PaymentOrder-Head PaymentOrderHead">
        <div class="PaymentOrderHead-Close PaymentOrderClose">
            <svg class="PaymentOrderClose-Icon">
                <use
                    xlink:href="/img/sprite.svg#icon_close"
                    href="/img/sprite.svg#icon_close"></use>
            </svg>
        </div>
        <div class="PaymentOrderHead-Heading">
            Платежное поручение № 5241234 от 23.09.2015
        </div>
    </div>
    <div class="PaymentOrder-Body PaymentOrderBody">
        <div class="PaymentOrder-Container">
            <div class="PaymentOrderBody-Payment PaymentOrderPayment">
                <div class="PaymentOrderPayment-Sum">
                    – 23 500,00 ₽
                </div>
                <div class="PaymentOrderPayment-From">
                    <span>со счета: </span>Расчетный счет (***012345)
                </div>
                <div class="PaymentOrderPayment-When">
                    ИСПОЛНЕН, 21 июня 15:33
                </div>
            </div>
            <div class="PaymentOrderBody-Card PaymentOrderCard">
                <div class="PaymentOrderCard-Partner PaymentOrderPartner">
                    <div class="PaymentOrderPartner-AngleWrap">
                        <div class="PaymentOrderPartner-Angle">
                            <div class="PaymentOrderPartner-Angle-HideShadow"></div>
                        </div>
                        <div class="PaymentOrderPartner-Angle-AddShadow"></div>
                    </div>
                    <div class="PaymentOrderPartner-Info">
                        <div class="PaymentOrderPartner-Heading">
                            ООО "Родные просторы
                        </div>
                        <div class="PaymentOrderPartner-ItemsWrap">
                            <div class="PaymentOrderPartner-InfoItem">
                                ИНН: 22341497819132
                            </div>
                            <div class="PaymentOrderPartner-InfoItem">
                                Банк: ОАО Сбербанк
                            </div>
                            <div class="PaymentOrderPartner-InfoItem">
                                БИК: 2352362365
                            </div>
                            <div class="PaymentOrderPartner-InfoItem">
                                Счет: 40802810970010000395
                            </div>
                        </div>
                    </div>
                    <div class="PaymentOrderPartner-TrustabilityInfo">
                        <div class="PaymentOrderPartner-Trustability PaymentOrderTrustability">
                            <div class="PaymentOrderTrustability-LinkWrap">
                                <a href="#" class="PaymentOrderTrustability-Link">
                                    Высокая финансовая<br>
                                    устойчивость
                                </a>
                            </div>
                            <div class="PaymentOrderTrustability-Graphic ">
                                <div class="GraphicCircle p88">
                                    <div class="GraphicCircle-Spiner">
                                        <span class="GraphicCircle-Num" >88</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="PaymentOrderPartner-Trustability PaymentOrderTrustability">
                            <div class="PaymentOrderTrustability-LinkWrap">
                                <a href="#" class="PaymentOrderTrustability-Link">
                                    Высокая<br>
                                    благонадежность
                                </a>
                            </div>
                            <div class="PaymentOrderTrustability-Graphic">
                                <div class="GraphicCircle">
                                    <div class="GraphicCircle-Spiner">
                                        <span class="GraphicCircle-Num" >100</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="PaymentOrderPartner-Trustability PaymentOrderTrustability">
                            <div class="PaymentOrderTrustability-LinkWrap">
                                <a href="#" class="PaymentOrderTrustability-Link">
                                    Кредитоспособность<br>
                                    44,5 млрд ₽
                                </a>
                            </div>
                            <div class="PaymentOrderTrustability-Graphic RangeCircle">
                                <div>
                                    <div class="RangeCircle-Num">
                                        1
                                    </div>
                                    <div class="RangeCircle-Text">
                                        Класс
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="PaymentOrderCard-Description">
                    Оплата за партию ромашек и одуванчиков по договору 14023-023 от 14.05.2015 г. Сумма 11430-00. В том числе НДС 18% - 1450,00 ₽
                </div>
            </div>
            <div class="PaymentOrderBody-Comment">
                Комиссия банка: 70 р.<br>
                Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным. Точный размер комиссии определяется после передачи платежного документа на обработку в банк.
            </div>
        </div>
    </div>
    <div class="PaymentOrder-Footer PaymentOrderFooter">
        <div class="PaymentOrder-Container">
            <div class="PaymentOrderFooter-ControlsWrap">
                <div class="PaymentOrderFooter-Control PaymentOrderControl PaymentOrderControl_repeat">
                    <svg class="PaymentOrderControl-Icon">
                        <use
                                xlink:href="/img/sprite.svg#icon_repeat"
                                href="/img/sprite.svg#icon_repeat"></use>
                    </svg>
                    <div class="PaymentOrderControl-Name">
                        Повторить
                    </div>
                </div>
                <div class="PaymentOrderFooter-Control PaymentOrderControl PaymentOrderControl_bookmark">
                    <svg class="PaymentOrderControl-Icon">
                        <use
                                xlink:href="/img/sprite.svg#icon_bookmark"
                                href="/img/sprite.svg#icon_bookmark"></use>
                    </svg>
                    <div class="PaymentOrderControl-Name">
                        В избранное
                    </div>
                </div>
                <div class="PaymentOrderFooter-Control PaymentOrderControl PaymentOrderControl_ask">
                    <svg class="PaymentOrderControl-Icon">
                        <use
                                xlink:href="/img/sprite.svg#icon_ask"
                                href="/img/sprite.svg#icon_ask"></use>
                    </svg>
                    <div class="PaymentOrderControl-Name">
                        Спросить
                    </div>
                </div>
                <div class="PaymentOrderFooter-Control PaymentOrderControl PaymentOrderControl_actions">
                    <svg class="PaymentOrderControl-Icon">
                        <use
                                xlink:href="/img/sprite.svg#icon_actions"
                                href="/img/sprite.svg#icon_actions"></use>
                    </svg>
                    <div class="PaymentOrderControl-Name">
                        Действия
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>