<header class="Header">
    <div class="Header-Body">
        <div class="Header-Left HeaderLeft">
            <div class="HeaderLeft-LogoSearch">
                <a href="#" class="Logo HeaderLeft-Logo">
                    <svg class="Logo-Img" fill="#00417B">
                        <use
                            xlink:href="/img/sprite.svg#logo"
                            href="/img/sprite.svg#logo"></use>
                    </svg>
                </a>
                <div class="Search HeaderLeft-Search">
                    <svg class="Search-Icon">
                        <use
                            xlink:href="/img/sprite.svg#icon_search"
                            href="/img/sprite.svg#icon_search"></use>
                    </svg>
                    <div class="Search-WrapControl">
                        <span class="Search-Label">Поиск</span>
                        <input type="text" class="Search-Control">
                    </div>
                </div>
            </div>
            <div class="HeaderLeft-Nav">
                <nav class="Nav">
                    <a href="#" class="Nav-Item active">
                        Деньги
                    </a>
                    <a href="#" class="Nav-Item">
                        Контакты
                    </a>
                    <a href="#" class="Nav-Item DropDownLink">
                        Услуги
                        <svg class="DropDownLink-Icon">
                            <use
                                xlink:href="/img/sprite.svg#icon_arrow_down"
                                href="/img/sprite.svg#icon_arrow_down"></use>
                        </svg>
                    </a>
                </nav>
            </div>
        </div>
        <div class="Header-Center HeaderCenter">
            <div class="AddBtn HeaderCenter-AddBtn">
                <svg class="AddBtn-Icon">
                    <use
                        xlink:href="/img/sprite.svg#icon_new_payment"
                        href="/img/sprite.svg#icon_new_payment"></use>
                </svg>
            </div>
        </div>
        <div class="Header-Right HeaderRight">
            <div class="HeaderRight-Notification">
                <div class="Notification">
                    <svg class="Notification-Icon">
                        <use
                            xlink:href="/img/sprite.svg#icon_bell"
                            href="/img/sprite.svg#icon_bell"></use>
                    </svg>
                    <div class="Notification-Num">
                        2
                    </div>
                </div>
            </div>
            <div class="HeaderRight-Profile">
                <div class="Profile DropDownLink">
                    <svg class="Profile-Icon">
                        <use
                            xlink:href="/img/sprite.svg#icon_profile"
                            href="/img/sprite.svg#icon_profile"></use>
                    </svg>
                    <span class="Profile-Text">ООО «РОДНЫЕ ПРОСТОРЫ</span>
                    <svg class="DropDownLink-Icon">
                        <use
                            xlink:href="/img/sprite.svg#icon_arrow_down"
                            href="/img/sprite.svg#icon_arrow_down"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</header>
